
<div *ngIf="aPConfig">
    <h2><span>AP Config</span> {{aPConfig.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{aPConfig.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{aPConfig.description}}</span>
        </dd>
        <dt><span>Tags</span></dt>
        <dd>
            <span *ngFor="let tags of aPConfig.tags; let last = last">
                <a [routerLink]="['/tag-my-suffix', tags?.id ]">{{tags.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ap-config-my-suffix/'+ aPConfig.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
