
<div *ngIf="aP">
    <h2><span>AP</span> {{aP.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Serial Number</span></dt>
        <dd>
            <span>{{aP.serialNumber}}</span>
        </dd>
        <dt><span>Ap Name</span></dt>
        <dd>
            <span>{{aP.apName}}</span>
        </dd>
        <dt><span>Tags</span></dt>
        <dd>
            <span *ngFor="let tags of aP.tags; let last = last">
                <a [routerLink]="['/tag-my-suffix', tags?.id ]">{{tags.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Venue</span></dt>
        <dd>
            <div *ngIf="aP.venue">
                <a [routerLink]="['/venue-my-suffix', aP.venue?.id]">{{aP.venue?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ap-my-suffix/'+ aP.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
