<div>
    <h2>
        <span>Networks</span>
        <button class="btn btn-primary float-right jh-create-entity create-network-my-suffix" [routerLink]="['/', { outlets: { popup: ['network-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Network
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="networks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Network Name</span></th>
            <th><span>Ssid</span></th>
            <th><span>Tags</span></th>
            <th><span>Tenant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let network of networks ;trackBy: trackId">
                <td><a [routerLink]="['../network-my-suffix', network.id ]">{{network.id}}</a></td>
                <td>{{network.networkName}}</td>
                <td>{{network.ssid}}</td>
                <td>
                    <span *ngFor="let tags of network.tags; let last = last">
                            <a class="form-control-static" [routerLink]="['../tag-my-suffix', tags?.id ]">{{tags.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="network.tenant">
                        <a [routerLink]="['../tenant-my-suffix', network.tenant?.id ]" >{{network.tenant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../network-my-suffix', network.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'network-my-suffix/'+ network.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'network-my-suffix/'+ network.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
